/********** Navbar styles**********/
nav *
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav 
{
    background: black;
    font-size: 1.4em;
    position: fixed;
    top: 0; 
    width: 100%;
    overflow: hidden;
    padding: 0%;
    z-index:1;
}

.menu-item > a, .social-links > a , .toggle > a  
{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo img
{
    width: 270px;
}

.social-links img
{
    width: 30px;
    height: 30px;
}

.menu-item 
{
    padding: 10px;
}

.menu-item a:hover, .toggle a:hover
{
    color: #B861FF;
}

.logo, .social-links  
{
  display: flex;
}

.social-links 
{
    gap: 30px;
    width: 270px;
    justify-content: flex-end;
}



.nav-container /* flex container 1 */
{
    display: flex;
    /*align-items: flex-start; */    
    align-items: center;
    flex-wrap: nowrap;
    background: none;
    justify-content: space-between;
    padding: 1em;
}

.menu /* flex container 1.1 */
{
    display: flex;
    gap: 1em;
    list-style-type: none;
 
  
}

/* Desktop menu */
@media all and (min-width: 992px)
{
    .logo 
    {
        order: 0;
    }

    .menu
    {
        order: 1;
       
    }

    .social-links
    {
        order: 2;
    }

    .menu-item 
    {
       position: relative;
       display: block; 
       width: auto;
    }

    .toggle
    {
        display: none;
      
    }

    /*.nav-container 
    {
      background-color: purple;
      
    }*/
}

/* Tablet menu */

@media (min-width:600px) and (max-width:992px)
{
   .nav-container
   {
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
   }

   .menu li a 
   {
       display: block;  
       padding: 15px 5px;
   }

   .menu 
   {
       justify-content: center;
   }

   .logo 
   {
       /*  flex: 1;*/
       order: 0;
   }

   .social-links
   {
       width: auto;
       order: 1;
    /*   display: block;*/
   }

   .toggle
   {
    /*   flex: 1;*/
    /*   text-align: right;*/
       order: 2;
       font-size: 30px;
     
   }

   .menu
   {
       order: 3;
       width: 100%;
       text-align: center;
       display: none;
       /* display: block;*/
   }

   .active.menu 
   {
       display: block;
   }

  /* .nav-container 
   {
     background-color: green;
   }*/
}


/* Mobile menu */
@media (max-width: 600px) 
{
    .nav-container
    {
        flex-wrap: wrap;
        align-items: center;
    }

    .menu li a 
    {
        display: block;
        padding: 15px 5px;
    }

    .logo 
    {
        order: 0;
    }

   
    .social-links
    {
        order: 1;
        display: none;
    }

    .toggle
    {
        order: 2;
        font-size: 30px;
    }

    .menu
    {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
        /* display: block;*/
    }

    .active.menu 
    {
        display: block;
    }

    /*.nav-container 
    {
      background-color: blue;
      
    }*/
}

 