/*******to do *************/
/*
Alphabetic order
Elements
Classes
IDS
*/

/*****************navbar style**********************/
#navbar 
{
  
  background: black;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 0; 
  z-index:1;
  overflow: hidden;
  width: 100%;
  font-size: 1.5em;
  

}


.menu-item, .toggle, .logo
{
  padding: 5px;
}

.menu-item > a , .toggle > a
{
  color: white;
  text-decoration: none;
  
}

.menu
{   
  list-style-type: none;
}

.logo
{
  padding: 5px 0px 5px 0;
  
}

.logo > a
{
  margin: 0px;
  padding: 0px;
}

.logo img
{
  width: 250px;

  
}


.menu-item a:hover, .toggle a:hover
{
  color: #B861FF;
 
}






/***************** end of navbar style**********************/

/******************* mobile menu *****************************/
.menu 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
}

#navbar
{
  width: 100%;
}
.menu li a 
{
  display: block;
  padding: 15px 5px;
}

.toggle 
{
  order: 1;
  font-size: 20px;
  
}

.menu-item 
{
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .menu-item
{

  display: block;

}



/*******************  end of mobile menu *****************************/



/************************ desktop menu *******************************/
@media all and (min-width: 960px) 
{
  .menu 
  {
      align-items: flex-start;     
      flex-wrap: nowrap;
      background: none;
  }

  .logo 
  {
      order: 0;
  }

  .menu-item 
  {

      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }

  .toggle
  {
      display: none;
  }
}



/************************   end of desktop menu  *************************/


body
{
    margin:0;
    font-family: 'Athiti', sans-serif;
   /* background-image: linear-gradient(to left, #51555C, #293139); */
    background: #1D1E22; /* Old browsers */
	background: -moz-linear-gradient(0deg,  #1D1E22 50%, #2A1D36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#2A1D36), color-stop(100%,#2A1D36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* IE10+ */
	background: linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##1D1E22', endColorstr='#2A1D36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-attachment: fixed;
}

h1, h2
  {
    text-align: center;
  }

  #navbar
{
     display: inline-flex;
 

}

#services, #languages, #about, #contact
{

  scroll-margin-top: 60px;
}

.section
{
   
   /* border-style: solid;
    border-color: white;*/
    position: relative;
    color: rgb(234, 230, 230);
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    
}


#hero-section > p
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
   
 
}


#canvas
{
	height:100%; 
	width:100%; 
	margin:0px;
  overflow: hidden;
  
	
	
}

hr
{
  
 
  border-style: solid none none;
  border-color: #8E6FFF;
  width: 40%;
  border-width: 1px;

}

/**********************h2 divider ***********/
 
.divider 
{
  display: flex;
  
  &:before,
  &:after 
  {
    content: "";
    flex: 1;
  }
  
}

 
.line {
  align-items: center;
  margin: 1em -1em;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.glow {
  &:before,
  &:after {
    height: 6px;
    -webkit-filter: blur(5px);
    border-radius: 5px;
  }

  &:before {
    background: linear-gradient(to right, #8173FF, #E053FF);
  }
  
  &:after {
    background: linear-gradient(to left, #8173FF, #E053FF);
  }
}

/**********************end h2 divider***********/





.summary
{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.3em;
  text-align: center;
}

h1
{

    font-size: 7rem;
    margin: 50px auto 0 auto;
    font-family: "Montserrat", sans-serif;
    color: #B861FF;
    text-transform: uppercase;
 }

 #hero-section > h2
 {
  font-family: "Montserrat", sans-serif;
   
 }

 #hero-section
 {
  margin-top: 150px;
 }


  h2
  {
  
    font-size: 3rem;
        font-weight: normal;
    }

  .flex-container
  {
    display: flex;
    flex-direction: row;
    margin-top: 95px;
    margin-bottom: 95px;
    gap: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }



    .serviceIcon
    {
      width: 50px;
      float:left;
      margin-right: 30px;
      margin-top: 20px;
    }

    .card
    {
      border-color: #B861FF;
      border-style: solid;
      border-width: 2px;
     /* padding-top: 10px;*/
      padding-right: 5%;
      padding-bottom: 20px ;
      padding-left: 5%;
      width: 40%;
      margin:50px auto 50px auto;
      text-align: left;
      line-height: 1.5;
      border-radius: 10px;
    }

  #services, #languages, #about, #contact
  {
    padding-top: 40px;
  }

    #lang-container
    {
      display: flex;
      overflow: auto;
      flex-flow: row wrap;
      padding: 5% 10% 5% 10%;
      width: 50%;
      margin:0% auto 0% auto;
      
      
    }

    .language
    {
      margin:6px;
      border: solid 1px #e7e7e7;
      width: 200px;
      border-radius: 3px;
      background: #5f5e62;
      padding: 10px 10px;
      text-align: left;
      font-size: 1.1em;

    }
   
    .button
    {
      border: #B861FF;
      border-style: solid;
      /*background-image: linear-gradient(top,#7A76FF , #F44CFF);
      background-image: linear-gradient(to bottom, #7A76FF, #F44CFF);*/
      border-radius: 10px;
      color: white;
      font-size: 25px;
      font-weight: 500;
      padding: 6px 20px 6px 20px;
      text-decoration: none;
      margin-top: 50px;
      margin-bottom: 20px;
      margin-left:20px;
    }
  
    .button:hover 
    {
      background: #B861FF;
     /* background-image: linear-gradient(top, #a13ad1, #8565bf);
      background-image: linear-gradient(to bottom, #9978d6, #8565bf);
      */text-decoration: none;
    }

.social-link
{
  color:#B861FF;
  font-size: larger;
  

}


    /***********************        FONTS           **************************************/
    .athiti-extralight {
        font-family: "Athiti", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .athiti-light {
        font-family: "Athiti", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .athiti-regular {
        font-family: "Athiti", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .athiti-medium {
        font-family: "Athiti", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .athiti-semibold {
        font-family: "Athiti", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .athiti-bold {
        font-family: "Athiti", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      

/*
#intro
{
    background-color:#FFC7C2;
    padding: 80px;
    text-align: center;
}


#services
{
    background-color:#FCD19C;
}

#contact-us
{
    background-color:#BDE3FF;
}

#footer
{
    background-color:#E6E6E6;
}

#logo
{
    height: 150px;
}


#img1
{
    height: 400px;
    

}

#img2
{
    height: 300px;
    

}

*/

