/***********GLOBAL STYLES**************/
body
{
    margin:0;
    font-family: 'Athiti', sans-serif;
    background: #1D1E22; /* Old browsers */
	  background: -moz-linear-gradient(0deg,  #1D1E22 50%, #2A1D36 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#2A1D36), color-stop(100%,#2A1D36)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* IE10+ */
	  background: linear-gradient(0deg,  #1D1E22 50%,#2A1D36 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##1D1E22', endColorstr='#2A1D36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	  background-attachment: fixed;
    overflow-x: hidden;
    color: rgb(234, 230, 230); 
}


/*****************Main page styles****************/
h1, h2
{
    text-align: center;
}

h1
{
    font-family: "Montserrat", sans-serif;
    color: #B861FF;    
}

h2
{
    font-size: 3rem;
    font-weight: normal;
}

#canvas
{
    height:100%; 
	  width:100%; 
	  margin:0px;
    overflow: hidden;
}

.section
{
    position: relative;
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;  
}

.summary
{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.4em;
    text-align: center;
}

#services, #languages, #about, #contact
{
    scroll-margin-top: 60px; 
}

@media (max-width: 600px) 
{
    h2
    {
        font-size: 2.5rem;
    }

    .summary
    {
        font-size: 1.3em;
    }
}

/**********************h2 divider ***********************/
.divider 
{
    display: flex;
  
    &:before,
    &:after 
    {
      content: "";
      flex: 1;
    }  
}

.line
{
    align-items: center;
    /*margin: 1em -1em;*/
  
    &:before,
    &:after 
    {
      height: 1px;
      margin: 0 1em;
    }
}

.glow
{
    &:before,
    &:after
    {
      height: 6px;
      -webkit-filter: blur(5px);
      border-radius: 5px;
    }

    &:before 
    {
      background: linear-gradient(to right, #8173FF, #E053FF);
    }
  
    &:after
    {
      background: linear-gradient(to left, #8173FF, #E053FF);
    }
}
/**********************end h2 divider*****************************/


/************Hero section styles***************/
#hero-section
{
    margin-top: 120px; /*para que no se superponga con la navbar*/
    padding-left: 50px;
    padding-right: 50px;
}

#hero-section > h1
{
    font-size: 7rem;
    margin: 50px auto 0 auto;
    text-transform: uppercase;
}

#hero-section > h2
{
    font-family: "Montserrat", sans-serif;
}

#hero-section > p
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

.gamer
{
    font-size: 1.3em;
    color: #B861FF;
}

/* Tablet font sizes */

@media (min-width:600px) and (max-width:992px)
{
  #hero-section > h1
  {
      font-size: 6rem;
  }
  
  #hero-section > h2
  {
      font-size: 2.5rem;
  }
  
  #hero-section > p
  {
      font-size: 1.5em;
      font-weight: 500;
  }
  
  .gamer
  {
      font-size: 1.2em;
  }
}


/* Mobile font sizes */
@media (max-width: 600px) 
{
  #hero-section > h1
  {
      font-size: 5rem;
  }
  
  #hero-section > h2
  {
      font-size: 2.2rem;
  }
  
  #hero-section > p
  {
      font-size: 1.4em;
      font-weight: 450;
  }
  
  .gamer
  {
      font-size: 1.2em;
  }
}

/************Services and About us styles**********************/

.flex-container /* flex container for Services and About us cards */
{
    display: flex;
   /* flex-wrap: wrap;*/
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 95px;
    gap: 1%;
    margin-left: 10%;
    margin-right: 10%;  
}

.card /*Text container (flex element)*/
{
    border-color: #B861FF;
    /*border-image: linear-gradient(to right, #8173FF, #B861FF) 1;*/  /*Gradient is not compatible with rounded corners*/
    border-style: solid;
    border-width: 2px;
    padding-top: 10px;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-left: 5%;
    margin: 10px;
    text-align: left;
    line-height: 1.5;
    border-radius: 10px;
}

/*****************************Services responsive styles ***************************/
/* Services Big screen view */
@media all and (min-width: 1500px)
{
    .services-container
    {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .service-card
    {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 200px;
      width: 40%;
    }
}

/*  Services Medium screen view */

@media (min-width:992px) and (max-width:1499px)
{
    .services-container
    {
      flex-wrap: nowrap;
    }
 
    .service-card
    {
      flex-grow: 1;
      flex-shrink: 0.1;
      flex-basis: 200px;
      width: 40%;
    }
}

/*  Services  Mobile view */
@media (max-width: 992px) 
{
    .services-container
    {   
      flex-direction: column;   
    }

    .service-card
    {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 200px;
      width: 90%;
    }
}

/*****************************About us responsive styles ***************************/
/* Why us Big screen view */
@media all and (min-width: 1500px)
{
    .about-us-container
    {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .about-card
    {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 200px;
      width: 40%;
    }
}

/*  Why us Medium screen view */
@media (min-width:1200px) and (max-width:1500px)
{
  .about-us-container
  {
    flex-wrap: nowrap;
  }
 
  .about-card
  {
    flex-grow: 1;
    flex-shrink: 0.1;
    flex-basis: 200px;
    width: 40%;
  }
}

/*  Why us  Mobile view */
@media (max-width: 1119px) 
{
  .about-us-container
  {
    flex-wrap: wrap;
  }

  .about-card
  {
    flex-grow: 1;
    flex-shrink: 0.1;
    flex-basis: 200px;
    width: 40%;
  }
}

.card > p
{
    font-size: 1.2em;
}

.serviceIcon
{
    width: 50px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-card > p
{
  font-size: 1.3em;
}

/*****************************Languages section styles ***************************/
.lang-container
{
  display: flex;
  overflow: auto;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5% 5% 5% 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
}


.language
{
  margin:6px;
  border: solid 1px #B861FF;
  width: 200px;
  border-radius: 3px;
  background: #382646;
  padding: 10px 10px;
  text-align: left;
  font-size: 1.1em;

}


/***************Contact section  styles**********************/

.contact-details > h3
{
    font-size: 2rem;
    margin-top: 50px;
    font-weight: normal;
}

.button
{
    border: #B861FF;
    border-style: solid;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
    display: inline-block;
}

.button:hover 
{
    background: #B861FF;
    text-decoration: none;
}

.social-container
{
  display: flex;
  justify-content: center;
}

/***********Mobile view*************/
@media (max-width: 600px) 
{
    .social-container
    {
        flex-direction: column;
    }

    .social-link
    {
        justify-content: center;
    }

}










/***********************************/

hr /*sin uso*/
{
  border-style: solid none none;
  border-color: #8E6FFF;
  width: 40%;
  border-width: 1px;
}

/***********************************************/

   
   


   


  
  
   

    

.social-link
{
  color:#B861FF;
  font-size: 1.7em;
  text-decoration: none;
 
}

.social-link:hover
{
  text-decoration: underline;
}


.social-container {
  display: flex;
  justify-content: center;
}



.social-container a {
  display: flex;
  align-items: center;
  margin: 10px;
  
}

.social-container img {
  width: 24px;
  height: 24px;
  margin: 10px;
}







.terms
{
  margin-top: 140px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.terms >h1
{
  font-size: 3rem;
 
}



    /***********************        FONTS           **************************************/
    .athiti-extralight {
        font-family: "Athiti", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .athiti-light {
        font-family: "Athiti", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .athiti-regular {
        font-family: "Athiti", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .athiti-medium {
        font-family: "Athiti", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .athiti-semibold {
        font-family: "Athiti", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .athiti-bold {
        font-family: "Athiti", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      


