/*************Terms page styles****************/
.terms
{
  margin-top: 160px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.terms > h1
{
  font-size: 3rem;
 
}

.terms >h2
{
  font-size: 2em;
  text-align: left;
  font-weight: 500;
 
}

.terms > p
{
  font-size: 1.2em;
  text-align: left;
 
}