footer 
{
    background-color: black;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

footer *
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.footer-container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    overflow: hidden;
    padding: 0%;
}

.terms-link
{
    margin-bottom: 30px;
    text-align: center; 
}

.terms-link a
{
    font-size: 1.3rem;
}


.copyright 
{
    text-align: center;
    flex-grow: 1;
    
}

.copyright p
{
    font-size: 1.2rem;
}

.social-links-footer > a
{
    color: white;
    text-decoration: none;
}

.social-links-footer img
{
    width: 30px;
    height: 30px;
}

.social-links-footer 
{
    display: flex;
    gap: 30px;
    width: 270px;
    justify-content: flex-end;
}

.attributions,  .attributions  a
{
    text-align: center;
    color: rgb(130, 130, 130);
}

footer a
{
    color: white;
}

footer a:hover
{
    color: #B861FF;
}

.hidden
 {
    display: none;
  }



/***************Mobile footer*****************/
@media (max-width: 600px) 
{
  .footer-container
  {
    flex-direction: column;
    
  }

  .social-links-footer
  {
    justify-content: center;
  }

  .footer-container > div
  {
    padding-top: 10%;
    
  }
}



